/* Allgemein */
body {
    font-family: "Calibri", "Arial", sans-serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    background: #FAF5E0;
    color: #333;
    font-weight: bold;
}

/* Navigation */
header {
    background: #9c2828;
    padding: 15px 25px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

h1 {
    font-family: "Berlin Sans FB", "Arial", sans-serif;
    font-size: 2.5rem;
    color: #9c2828;
    margin-bottom: 35px;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin: 0 15px;
    font-size: 1.2rem;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.nav-list a.active {
    text-decoration: underline;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    background-color: white;
    height: 3px;
    width: 25px;
    margin: 4px 0;
    transition: 0.3s;
}

.nav-list {
    display: flex;
}

.nav-list.active {
    display: block;
}

/* Wunschbox */
.wishlist {
    text-align: center;
    padding: 50px 20px;
    background: #fff;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*.wishlist h3 {*/
/*    color: #9c2828;*/
/*    font-family: "Berlin Sans FB", "Arial", sans-serif margin-bottom;*/
/*    font-size: 1.2rem;*/
/*}*/

.wishlist p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

form label {
    font-weight: bold;
    margin-top: 15px;
}

form input {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background: #b22222;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 25px;
}

form button:hover {
    background: #800000;
}

.top-wishes {
    margin-top: 40px;
}

.top-wishes h3 {
    font-family: "Berlin Sans FB", "Arial", sans-serif;
    font-size: 1.5rem;
    color: #9c2828;
    margin-bottom: 10px;

}

.top-wishes ul {
    list-style: none;
    padding: 0;
}

.top-wishes li {
    background: #FAF5E0;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    font-size: 14px;
    background: #9c2828;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    line-height: 0.5;
}

footer .legal {
    margin-bottom: 20px; /* Abstand nur für den letzten Bereich*/
}

footer a {
    color: #461002; /* Ändere die Linkfarbe auf Gelb */
    text-decoration: none; /* Entfernt die Unterstreichung */
    font-weight: bold; /* Macht den Link fett */
}

footer a:hover {
    color: white; /* Ändere die Linkfarbe beim Hover auf Weiß */
    text-decoration: underline; /* Zeigt eine Unterstreichung beim Hover */
}


@media screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        background: #9c2828;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list li {
        text-align: center;
        margin: 10px 0;
    }
}
