body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: darkslategrey;
    margin: 20px;
    color: antiquewhite;
}

h1 {
    text-align: center;
    color: chocolate;
}

form {
    background: cadetblue;
    padding: 10px;
    border: 1px solid darkslategrey;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    margin: auto;

}

label {
    display: block;
    margin-top:10px;
    font-weight: bold;
    color: #555;

}

input, textarea {
    width: 95%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid darkslategrey;
    border-radius: 4px;
    box-sizing: border-box;

}